.container {
    display: flex;
    height: 100vh;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100vh;
    margin-left: 15%;
  }

  .sidebarContainer {
    flex: 0 0 250px;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .title {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    width: fit-content;
    align-self: flex-start;
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    margin-top: 10px;
    margin: 20px;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 12px;
  }
  
  .table th {
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
  
  .table tbody tr {
    background-color: #1a1a1a;
  }
  
  .table tbody tr:hover {
    background-color: #333;
  }
  
  .table tbody tr td {
    border-top: 1px solid #333;
    font-size: 0.9rem;
  }
  
  .owner {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background-color: #444;
    border-radius: 50%;
  }
  
  .ownerName {
    font-weight: bold;
    color: #fff;
  }
  
  .ownerRole {
    font-size: 0.85rem;
    color: #aaa;
  }
  
  .category {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: bold;
    color: #fff;
  }
  
  .travel {
    padding: 5px 25px;
    background-color: #5a0ce2;
  }
  
  .food {
    padding: 5px 30px;
    background-color: #8b1f5e;
  }
  
  .software {
    padding: 5px 20px;
    background-color: #7e3ff2;
  }
  
  .actions {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  
  .viewButton,
  .approveButton,
  .rejectButton {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .viewButton {
    background-color: #555;
  }
  
  .approveButton {
    background-color: #14b8a6;
  }
  
  .rejectButton {
    background-color: #f43f5e;
  }
  